.footer {
 width: 100%;
 background: $Very-Dark-Blue;
 @include flex-it(column-reverse);
 padding: 3rem 0;
 padding-bottom: 6.5rem;
 position: relative;
 
 
 .contact {
  @include flex-it(column-reverse);
  .icons {
   padding-bottom: 2rem;
   .icon {
    display: none;
   }
   img {
    width: 33px;
    margin: .9rem;
   }
  }
 }

 &__nav {
  @include flex-it(row);
  align-items: flex-start;
  padding: 3rem 0rem;
  padding-bottom: 2rem;

  &__nav-links {
   margin-right: 7rem;
  }
  p {
   margin: 0;
   padding: 5px 0;
   font-size: .9rem;
   a {
    color: #fff;
    
    &:hover {
     color: #f25f3a;
    }
   }
  }
 }

 .label {
  position: relative;

  .error {
   position: absolute;
   color: #f25f3a;
   font-size: .76rem;
   font-weight: 100;
   top: 2.5rem;
   left: 1rem;
  }
 }

 .subscribe {
  #email {
   padding: .9rem 5rem;
   padding-left: 1rem;
   border-radius: 4rem;
   border: 0;
   outline: 0;
   margin-right: 6px;
   color: $Very-Dark-Blue;
   font-weight: 500;
  }

  .submit {
   padding: .9rem 2rem;
   border-radius: 2rem;
   border: 0;
   outline: 0;
   background: $Bright-Red;
   color: #fff;
   font-weight: 700;
   cursor: url('../images/cursor.svg'), auto;
   position: relative;
   @include button-hover;
  }
 }

 .copyright {
  width: 100%;
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  text-align: center;
  font-size: .8rem;
 } 
}

.footer-logo {
 fill: #fff;
}
