.simplify {
 text-align: center;
 background: #f25f3a;
 padding: 4rem 1.5rem;
 padding-bottom: 6rem;
 position: relative;
 z-index: 1;

 h2 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 3rem;
 }

 .btn {
  @include button;
  background: #fff;
  color: $Bright-Red;
  font-weight: 700;
 }


 &:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url("../images/bg-tablet-pattern.svg");
  background-size: 150%;
  background-position: -470px 60px;
  background-repeat: no-repeat;
  opacity: .1;
  z-index: -1;
 }
}