@import "config";
@import "header";
@import "hero";
@import "more-info";
@import "testimonials";
@import "simplify";
@import "footer";
@import "responsive";

* {
 box-sizing: border-box;
}

body {
 margin: 0;
 padding: 0;
 color: $Dark-Grayish-Blue;
 font-family: 'Be Vietnam', sans-serif;
 line-height: 1.6rem;
}

svg {
 width: 146px;
 height: 24px;
}

a {
 text-decoration: none;
 transition: all .5s ease-in;
 cursor: url('../images/cursor.svg'), auto;
}

.wrapper {
 width: 100%;
 position: relative;
 transition: all .4s ease-in;
 overflow: hidden;
}

.wrapper-overlay:before {
 content: '';
 height: 100%;
 position: absolute;
 right: 0;
 left: 0;
 top: 0;
 background-image: linear-gradient(to bottom, #242d5210, #2c43a0);
 z-index: 2;
}



